*.egg-info
__pycache__

*.csv
*.zip
*.txt
*.apk
build/
.env

experiments/rq1_screen_inconsistency/analysis
experiments/rq1_screen_inconsistency/examples
experiments/rq1_screen_inconsistency/visualize*
experiments/rq1_screen_inconsistency/jaccard.py
experiments/rq1_screen_inconsistency/metrics.py

experiments/rq2_flow_inconsistency/analysis
experiments/rq2_flow_inconsistency/*dataset
experiments/rq2_flow_inconsistency/results*
experiments/rq2_flow_inconsistency/merge.py
experiments/rq2_flow_inconsistency/recreate.py

experiments/rq4_case_study/*mockups
experiments/rq4_case_study/output